form(action=accountURL(), method='POST')
  .control-group
    label(for='name') Name*
    input(type='text', name='name')
  .control-group
    label(for='username') Username#
    input(type='text', name='username')          
  .control-group
    label(for='email') Email#
    input(type='email', name='email')
  .control-group
    label(for='phone') Phone#
    input(type='phone', name='phone')
  .control-group
    label(for='password') Password*
    input(type='password', name='password')
  .form-actions
    button.btn.btn-primary(type='submit') Register
p * - required
p # - need 1 of these